/* FIREFOX GTKLESS STYLE CHECK HEADER - DO NOT REMOVE UNLESS YOU WANT TO RETAIN THIS VERSION DURING A GTKLESS-CSS UPDATE */

/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*
* Most of this code is taken straight from Mozilla Firefox, and adapted to work in System Theme.
*/

/* Scrollbars for all pages, and the browser itself */
@media (prefers-color-scheme: light) { /* Based on about:newtab palette */
    html,
    body {
        scrollbar-color: #15141A #F9F9FB;
    }
}
@media (prefers-color-scheme: dark) {
    html,
    body {
        scrollbar-color: #FBFBFE #2B2A33;
    }
}

@-moz-document url('chrome://browser/content/browser.xhtml'),
    url('chrome://global/content/commonDialog.xhtml'),
    url('chrome://browser/content/places/places.xhtml'),
    url('chrome://pippki/content/editcacert.xhtml'),
    url('chrome://pippki/content/deletecert.xhtml'),
    url('chrome://pippki/content/exceptionDialog.xhtml'),
    url('chrome://mozapps/content/downloads/unknownContentType.xhtml'),
    url('chrome://global/content/appPicker.xhtml'),
    url('chrome://browser/content/pageinfo/pageInfo.xhtml') {
    :root {
        /* Colour palette for the browser UI */
        --color-accent-primary: AccentColor !important;
        --color-accent-primary-hover: color-mix(in srgb, black 10%, var(--color-accent-primary)) !important;
        --color-accent-primary-active: color-mix(in srgb, black 20%, var(--color-accent-primary)) !important;
        --button-text-color-primary: AccentColorText !important;
    }

    /* LIGHT THEME */
    @media (prefers-color-scheme: light) {
        :not(:-moz-lwtheme) {
            --gtkless-checkbox-bgcolor: #FFFFFF;
            --gtkless-checkbox-border: #8F8F9D;
        }
    }
    /* DARK THEME */
    @media (prefers-color-scheme: dark) {
        :not(:-moz-lwtheme) {
            --gtkless-checkbox-bgcolor: #3B4252;
            --gtkless-checkbox-border: #B1B1B9;
        }
    }

    /* Remove GTK from Firefox's non-native menus */
    menupopup {
        --panel-background: var(--arrowpanel-background) !important;
        --panel-color: var(--arrowpanel-color) !important;
        --panel-border-color: var(--arrowpanel-border-color) !important;
    }

    /* ...including the menu item hovers */
    menu, menuitem {
        &:where([_moz-menuactive]:not([disabled="true"])) {
            background-color: var(--button-background-color-ghost-hover) !important; /* panelUI-shared.css:1495, Firefox 140 */
            color: var(--button-text-color-ghost) !important;
        }
    }
    menubar > menu {
        background-color: transparent !important;
    }
}


/* Browser window */
@-moz-document url('chrome://browser/content/browser.xhtml') {
    /* Different scrollbar colours when inside of popouts */
    panelview,
    menupopup {
        scrollbar-color: var(--arrowpanel-color) var(--arrowpanel-background);
    }
}
